<div class="comments" id="{{ comment.id }}">
  <div class="flex-container">
    <div class="likes">
      <button class="plus" (click)="changeScore('plus')">+</button>
      <span class="post-scores">{{ comment.score }}</span>
      <button class="minus" (click)="changeScore('minus')">-</button>
    </div>
    <div class="user-info">
      <div class="avatar">
        <img class="avatars" src="{{ comment.user.image.png }}" />
      </div>
      <div class="username">
        <span>{{ comment.user.username }} </span>
      </div>
      <div class="date">
        <span>{{ comment.createdAt }}</span>
      </div>
      <div class="replybtn">
        <img class="replyicon" src="/assets/images/icon-reply.svg" />
        <button class="btn" (click)="toggleReply ()">reply</button>
      </div>

      <div class="content">
        <span>{{ comment.content }}</span>
      </div>
    </div>
  </div>
</div>
<app-replies *ngFor="let item of comment.replies" [reply]="item" (onScoreReply)="onScoreReplyHandler($event)">
</app-replies>
<app-new-replies *ngIf="isReply" (onReply)="onReplyhandler($event)"> </app-new-replies>